---
title: Moving to Nanoc
kind: article
created_at: 2013-01-07
categories:
- nanoc
- changes

---

I had been blogging in the past at aknv.wordpress.com. I have shifted here from wordpress.

The blog is hosted over my EC2 instance, that fetches data from my <a href="github.com/vipulnsward/nanoc-blog">nanoc-repo</a>

1. autobuild
2. How its have hosted
3. About nanoc
4. Categories
