---
title: Pair with me
h1: Pair with me
description: "Post about Paring with Vipul A M"
author: "Vipul A M"
kind: article
created_at: 2013-04-14
categories:
- pairwithme
- blog
- sward
- ruby
---

Hi there!

I am available for a pairing session any weekend.

I work for <a href="fab.com">Fab.com</a> as a Rails Dev

I play around and contribute mostly in Ruby/JRuby/Java

I am open to learning any other language (I have tried taking a stab at Clojure, Rust)

It would be awesome to pair up on contributing to some project, but exploring other things would be fine too.

Please mail me in advance so that we can get set up with time and other things

mail: vipulnsward@gmail.com



