@import url(http://fonts.googleapis.com/css?family=Economica);
@import url(http://fonts.googleapis.com/css?family=Dosis);


* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}


body {
	  background-image: url('image/paper_2.png');
	   font-size: 16px;
    }

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
  text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
  -webkit-text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
  -moz-text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
  -o-text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}


#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  line-height: 35px;
}

#sidebar {
  position: absolute;
  
  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  text-align: right;
  position: fixed;
  border-right: solid 1px gray;
}

#sidebar h3 {
}

#sidebar h2 a {
  font-size: 30px;
  font-weight: normal;
  color: #333;
  font-family: 'Economica', sans-serif;

}

 

#blanktext h1 a {
	display: block; text-decoration: none;
	font: 40px Helvetica, Arial, Sans-Serif; letter-spacing: -5px;  
 	text-align: center;
	margin-top: 123px;
	letter-spacing: 0.25pt;
	color: #ccc; text-shadow: 0px 3px 8px #2a2a2a;
 }
#blanktext h1 a:hover {
	color: #a0a0a0; text-shadow: 0px 5px 8px #2a2a2a;
}

#sidebar .avatar {
  padding: 0;
  margin-left: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #ccc;
  opacity: 1;
}

#sidebar .avatar:hover {
  opacity: 0.8;
}


.ir, .icons, .twitter,  .github{
       display: block;
       border: 0;
       margin-top: 25px;
       text-indent: -999em;
       overflow: hidden;
       background-color: transparent;
       background-repeat: no-repeat;
       text-align: left;
       direction: ltr;
       line-height: 0;
}

.ir br, .icons br, .twitter br,  .github br {
      display: none;
}

.inline-block, .icons, .twitter, .github, body header[role="banner"] h1,
body header[role="banner"] h2, nav.article a.next,
nav.article a.previous, #articles li, #articles .btn, .blog-archives article time {
      display: inline-block;
}

.icons, .twitter, .github {
      width: 26px;
      height: 26px;
      background-position: center center;
      background-color: #d58742;
      border-radius: 5em;
      background-size: 24px 24px;
      vertical-align: middle;
}

.twitter {
      background-image: url('/image/twitter.png');
      background-color: #169dbf;
}

.github {
      background-image: url('/image/octocat_blue_2.png');
      background-color: white; 
      background-size: 26px 26px;
}


.twitter:hover, .github:hover  {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    -ms-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.twtr-ft {display:none}
.twtr-bd {
    border-radius: 0 0 5px 5px;
    background: #EEE;
}
.twtr-hd {
    border-bottom: 1px dotted #DDD;
    background: #E6E6E6;
    border-radius: 5px 5px 0 0;
}
.twtr-doc {
    border: 1px #DDD solid;
    box-shadow: 0 14px 15px -10px rgba(0,0,0,.25);
}



